@import url('variable.css');

body {
	background-color: var(--black);
	height: 100vh;
	overflow-x: hidden;
	overflow-y: hidden;
}
.right-side {
	background-color: var(--deep-slate-gray);
}
.auth-box {
	color: var(--white);
	transition: .2s linear;
	position: absolute;
	top: 100px;
}
.auth-box-header {
	text-align: center;
	font-size: 150%;
	font-weight: bold;
	text-decoration: underline;
}
.auth-box-footer {
	text-align: center;
}
.auth-box-footer a {
	color: var(--dark-blue);
	text-decoration: underline;
	font-weight: bold;
}
option {
	background-color: var(--white);
	color: var(--dark-blue);
	font-weight: bold;
}
.turn-display {
	margin-left: 2000px;
}