@import url('variable.css');

.map-container {
	width: 100vw;
	height: 80vh;
}
svg {
	width: 100%;
	height: 100%;
}
path {
	fill: var(--light-gray);
	stroke: #333;
	cursor: pointer;
}
path:hover {
	fill: var(--dark-blue);
}
.tooltip {
	position: absolute;
	background: rgba(0,0,0,0.7);
	color: #fff;
	padding: 4px 8px;
	border-radius: 4px;
	pointer-events: none;
	display: none;
	font-size: 14px;
}
