/* =========================[ NAVBAR DROP-DOWN MENU AND ITEMS ]================================================== */

.dropdown-menu {
	padding: 0px;
	outline: none;
}
.dropdown-item {
	background-color: var(--deep-slate-gray);
	color: var(--white);
	font-weight: bold;
	font-size: 80%;
	padding: 5px 15px;
}
.dropdown-item:last-child {
	background-color: var(--near-black);
	font-size: 100%;
}
.dropdown-item:hover, .dropdown-item:last-child:hover {
	background-color: var(--goldenrod);
	color: var(--black);
}
.dropdown-item-icon {
	position: absolute;
	margin-top: 5px;
}
.dropdown-item-label {
	margin-left: 1.5rem;
}



.header-user-pic {
	position: absolute;
	right: 2vw;
	width: 45px;
	height: 45px;
	text-align: center;
	padding-top: 3%;
	font-size: 120%;
	font-weight: bold;
	border-radius: 50px;
}

.user-dropdown {
	position: absolute;
	right: 0px;
}

.dropdown-menu {
	transform: translate(-20px, 50px);
}
@media screen and (max-width: 600px) {
	.dropdown-menu {
		transform: translate(20px, 50px);
	}
}