@import url('variable.css');
@import url('navbar_search.css');
@import url('navbar_drop_down.css');
@import url('sidebar.css');
@import url('bootstrap_override.css');
@import url('bootstrap.modification.css');

/* =========================[ MAIN STYLES ]================================================== */

body {
	/*background-image: var(--bg-img);
	background-repeat: none;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;*/
	user-select: none;
	background-color: var(--deep-slate-gray);
	color: white;
	overflow-x: hidden;
	overflow-y: scroll;
}

header {
	font-size: 120%;
}

.no-select {
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

#main-body {
	min-height: 90vh;
}


.navbar-toggler {
	border: 0px;
	border-radius: 50px;
}
.navbar-toggler:hover {
	background-color: var(--transparent-half);
}

main {
/*	border-top-left-radius: 30px;*/
	border-radius: 30px 0px 0px 30px;
	padding: 30px 20px;
	margin-bottom: 20px;
}

.main-content {
	background-color: var(--transparent-half);
	color: white;
}

/* =========================[ FORM INPUT ]========================= */

.form-outline {
	background-color: rgba(0, 0, 0, 0);
	border: 0px;
	border-bottom: 1px solid var(--dark-blue);
	border-radius: 0px;
	color: var(--white);
	background-color: rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(12px);
}
.form-outline:hover {
	border-color: var(--dark-blue);
}
.form-outline:focus {
	background-color: rgba(0, 0, 0, 0);
	border-color: var(--dark-blue);
	box-shadow: none;
	color: var(--white);
}
.form-outline-scale:hover {
	transform: scale(1.02);
}
.form-outline-scale:focus {
	transform: scale(1.02);
}
.input-group-prepend {
}
.input-group-text {
	color: #FFFFFF;
	border-color: rgba(0, 0, 0, .25);
	background-color: #FF7800;
}
.btn-ph {
	background-color: var(--dark-blue);
	color: var(--white);
	font-weight: bold;
}
